@using aspnet_mvc_razor_app.Models.HomeViewModels
@using PassportPDF.Api
@using PassportPDF.Model

@model AnnotationsViewModel


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DocuVieware - Annotation Demo.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/annotations.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @Html.Partial("_scripts")
    @{
        DocuViewareApi dvApi = PassportPDFUtils.GetDocuViewareInstance();

        DocuViewareGetControlParameters parameters = new DocuViewareGetControlParameters(ASPNETUtils.GetSessionID(),
            new DocuViewareControlState
            {
                ControlID = Model.DocuViewareID,
                RemoteIP = ASPNETUtils.GetUserHostAddress(),
                UserLanguages = ASPNETUtils.GetUserLanguages(),
                DisableAnnotationDrawingModePanel = false,
                ForceScrollBars = false,
                AllowedExportFormats = "*",
                MaxUploadSize = 52428800,
                MaxDownloadSize = 52428800,
                EnableMultipleThumbnailSelection = true,
                EnableMouseModeButtons = true,
                EnableSelectModeButton = false,
                EnableTwainAcquisitionButton = false,
                EnableFormFieldsEdition = true,
                DocumentURI = "https://www.docuvieware-demo.com/download_document.aspx?src=st_exupery_le_petit_prince.pdf",
                ShowAnnotationsCommentsSnapIn = true,
                ShowDigitalSignatureSnapIn=true
               

            }) ;
        DocuViewareGetControlResponse response = dvApi.DocuViewareGetControl(parameters);
        @Html.Raw(response.Element)
    }
    <script>
        function RegisterOnNewDocumentLoadedOnDocuViewareAPIReady() {
            if (typeof DocuViewareAPI !== 'undefined' && DocuViewareAPI.IsInitialized('@Model.DocuViewareID')) {
                DocuViewareAPI.RegisterOnNewDocumentLoaded('@Model.DocuViewareID', function () { DocuViewareAPI.SelectAnnotationsSnapIn('@Model.DocuViewareID') });
            }
            else {
                setTimeout(function () { RegisterOnNewDocumentLoadedOnDocuViewareAPIReady() }, 10);
            }
        }
        window.onload = function () {
            RegisterOnNewDocumentLoadedOnDocuViewareAPIReady();
        }
    </script>
</body>
</html>